*{
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    font-family: 'Montserrat', sans-serif;
}

a{
    text-decoration: unset;
}
nav{
    width: 100%;
    /* padding-top: 33px;
    padding-bottom: 33px; */
    display: flex;
    justify-content: flex-end;
}

nav > div {
    flex: 1;
}

nav div ul{
    display: flex;
    justify-content: space-between;
    margin-right: 30px;
    width: 100%;
}

.menu {
    display: flex;
    justify-content: flex-end;
}

nav ul li{
    display: flex;
    list-style-type: none;
    align-items: center;
    justify-content: space-between;
    padding: 33px 0;
    
}
li a{
    color: #707070;
    font-size: 24px;
}

li { 
    border-bottom: 2px solid transparent;
}

li:hover { 
    border-bottom: 2px solid #FF0073;
}

li:hover a {
    color: #FF0073;
    font-weight: bold;
    font-size: 24px;
}

.background {
    width: 100%;
    display: flex;
    position: absolute;
    z-index: 0;
    height: calc(100vh - 113px);
    top: 0px;
    left: 0px;
    overflow: hidden;
}

.wrapper {
    position: relative;
    padding-top: 124px;
}

div.logo{
    margin: 33px auto 33px 150px;

}
.ellipse-1{
    top: 124px;
    left: -55px;
    position: absolute;
}
.ellipse-4{
    top: 76px;
    left: 1214px;
    position: absolute;
}
.ellipse-2{
    top: 673px;
    left: 649px;
    position: absolute;
}
.ellipse-3{
    top: 812px;
    left: 49px;
    position: absolute;
}
.ellipse-5{
    top: 868px;
    right: -52px;
    position: absolute;
}

.content {
    position: relative;
    z-index: 11;
    height: 100%;
    display: flex;
    width: 1140px;
    margin: 0px auto;
}

.content a {
    text-transform: uppercase;
    background-color: rgb(255, 255, 255);
    display: inline-block;
    padding: 20px;
    border-radius: 20px;
}

h1{
    font-weight: 300;
}
.bold{
    font-weight: 700;
    display: inline-block;
}
/*/////////////////*/
.shues_cover img {
    width: 70%;
}

.descr, .images {
    width: 50%;
}

.images {
    position: relative;
}

.content {
    position: relative;
    z-index: 11;
    height: 100%;
    display: flex;
    width: 1140px;
    margin: 0px auto;
}

.shues_catalog {
    display: flex;
    position: relative;
}

.shues_catalog hr {
    width: 100%;
    height: 0px;
    position: absolute;
    background: transparent;
    border-top: 5px dotted white;
}

.shues_item .circle {
    width: 30px;
    height: 30px;
    margin-left: 55px;
    margin-top: -19px;
    margin-bottom: 24px;
    border-radius: 50%;
    background: red;
    border-width: 3px;
    border-style: solid;
    border-color: white;
    border-image: initial;
}

.item_cover .item_cover-img {
    width: 130px;
    height: auto;
    position: relative;
    z-index: 999;
}

.item_cover .cost {
    width: 330px;
    margin-top: -100px;
    margin-left: 45px;
    box-sizing: border-box;
    max-width: 0px;
    opacity: 0;
    background: white;
    border-radius: 5px;
    padding: 15px 15px 15px 120px;
    overflow: hidden;
    transition: all 0.3s ease-in-out 0s;
}

.shues_item:hover .cost {
    opacity: 1;
    max-width: 330px;
    transition: all 0.3s ease-in-out 0s;
}

.item_cover .cost p {
    margin-bottom: 5px;
    font-size: 20px;
    white-space: nowrap;
}


.next-item {
    width: 100px;
    height: auto;
    position: absolute;
    top: 13%;
    right: 0px;
}













